:root{
    --white: #FFFFFF;
    --black: #212121;
    --primary: #FFC107;
    --secondary: #0097a7;
    --grey: #757575;

}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px; /* 1rem = 10px. Because 1 rem is approximately 16 pixels, then if we use 2 rem the value of our element would be 32 pixels; In order to handle this in a better, faster and easier way, what we do is "format" the value of 1 rem, that is, that 1 rem equals 10 px, so 62.5% of 16 is equal to 10.*/
    font-family: 'Krub', sans-serif;
}
.title{
    text-align: center;
    font-size: 3.8rem;
   
}

.title span{
    font-size: 2rem;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}
/*bg refers to the BackGround. It's a Utility First*/
.nav-bg{ 
    background-color: var(--secondary);
}

.main-navigation{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .main-navigation{
        flex-direction: row;
        justify-content: space-between;
    }
    
}

.main-navigation a{
    display: block;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.main-navigation a:hover {
    background-color: var(--primary);
    color: var(--black);
}

.hero {
    background-image: url(../Img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
}